.titleClass {
    text-align: center;	
}
.searchArea {
    width: 90%;
    margin: 10px auto 10px auto;
    text-align: center;
}
.searchResults{
    width: 90%;
    margin: 10px auto 10px auto;
    padding: 5px;
    text-align: center;
    border: 1px solid navy;
    background-color: lightgoldenrodyellow;
}
.userInfo{
    margin: 5px;
}
.post{
    border: 1px solid red;
    background-color: white;
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.postBody{
    overflow: hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
    background-color: lightgreen;
    font-size: 16px;
}

.commentBtn{
    float: right;
}
.comments{
    clear: both;
    width: 80%;
    margin: 5px auto 0px auto;
    border: 1px solid blue;
    background-color: lightpink;
    padding: 0px;
}
.comment{
    overflow: hidden;
    width: 90%;
    margin: 5px auto 5px auto;
    border: 1px solid yellow;
    background-color: lightblue;
    padding: 5px;
    font-size: 12px;
}
.commentEmail{
    float: right;
    text-decoration: underline;
    font-style: italic;
    color: purple;
}
.commentTitle{
    font-weight: bold;
    color: darkgreen;
}
.postTitle{
    font-weight: bold;
    color: red;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px;
}